body {
  background-image: url(https://timedotcom.files.wordpress.com/2015/12/statrup-bets-on-marriage.jpg?quality=85);
  color: purple;
}


.friend {
  visibility: hidden;
  display: inline-block;
  position: absolute;
  left:300px;
  top:0px;
  width: 50%;

}

#picksbody {
  background-color: #cccccc
}

#link {
  font-size:20px;
  font-style:italic;
}

#once {
  padding: 2px 0px 2px 0px;
  border-bottom: dotted;
  width:240px;
}


main {
  z-index:"2";
  width:100%;
  margin: 0 auto;
  padding-top: 100px;
}

footer {
  color:goldenrod;
  bottom:0px;
  height: 2px;
  text-align: center;
}

nav, footer {
 width: 100%;
 position: fixed;
 padding: 15px;
}

.form-div {
  width: 100px;
  margin: 0 auto;
  padding-top: 100px
}

nav {
  margin-bottom: 50px;
}
a {
  color: goldenrod;
}

h1 {
  width: 350px;
  height: ;
  text-align: center;
  min-width:200px;
  margin: 0 auto;
}

.submit {
  width: 30px;
  margin: 0 auto;
  color:black;
}

.gold {
  background-color: goldenrod;
}

.grey {
  background-color: #555F61
}

@media only screen and (max-width: 500px) {
    body {
        width:100%;
    }
