html{
  height:100%;
}

body {
  background-image: url(https://timedotcom.files.wordpress.com/2015/12/statrup-bets-on-marriage.jpg?quality=85);
  color: #AD974F;
  height:100%;

}

main {
  height:100%;
  width:100%;
  background-color: rgba(85,95,97,.75);
}

nav {
  top: 0px;
  margin-bottom: 50px;
}

footer {
  bottom:0px;
  height:2px;
  text-align: center;
}

nav, footer {
 width: 100%;
 position: fixed;
 padding: 10px;
 background-color: #231f20;
 color: #EAEAEA;
}

h1 {
  font-size: 50px;
  text-decoration: underline;
  max-width: 450px;
  text-align: center;
  min-width:200px;
  margin:0 auto;
  margin-top: 36px
}

h2 {
  margin-top: 50px;
}

h3 {
  padding-top: 80px;
  margin: 0;
}

a.nav-link {
  color: #EAEAEA;
}
table {
  width: 35%;
  display: inline-block;
  margin: auto;
  margin-top: 100px;
}

td {
  width: 25px;
}

tr td {
  padding:5px;
}

table tr td{
  border: 1px solid black;
}

.friend {
  visibility: hidden;
  display: inline-block;
  position: absolute;
  left:300px;
  top:0px;
  width: 50%;

}

.errors {
  color:red;
  width: 500px;
  margin:50px auto;
}

.a-btn {
  width: 100px;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  font: menu;
  display: inline-block;
  padding: 2px 8px;
  background: #8E793E;
  color: ButtonText;
  border-style: 2px solid;
  box-shadow: 5px 5px 5px #231f20

}

}
.user-page {
  padding: 150px;
}


#link {
  font-size:20px;
  font-style:italic;
}

#once {
  padding: 2px 0px 2px 0px;
  border-bottom: dotted;
  width:240px;
}

select {
  display: block;
}

.form-div {
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px
}

.submit {
  width: 30px;
  margin: 0 auto;
  color:black;
}

#picks-form {
/*  padding-top: 100px;
  padding-bottom: 100px;*/
  width:250px;
  margin: 0 auto;
}

@media only screen and (max-width: 500px) {
    body {
        width:100%;
    }
