<div class="user-page">

  <h2 class='name_display'>Welcome <%= @user.username %></h2>
  <!-- <img src='< @user.name .jpeg'> -->

<% if logged_in? && current_user.id == @user.id %>
  <% if @user.picks.any? %>
  <h3> Your picks: </h3>
    <% picks = @user.picks.sort %>
    <% picks.each do |pick| %>
      <p> <%= pick.name %> </p>
    <% end %>
  <% end %>
<% end %>
</div>
