<% if current_user.picks.empty? %>
  <div class='form-div gold'>
    <form id='picks-form' action='/picks' method='post'>
      <% 12.times do |i| %>
        <label> Pick <%= i+1 %>: </label>
        <select name= ":name<%= i+1 %>" required>
          <option value="" disabled selected hidden>Please Choose...</option>
          <% @choices.each do |choice| %>
            <option value= <%= choice %>><%= choice%></option>
          <% end %>
        </select>
      <% end %>
      <input type='submit' value = 'Submit Picks'>
    </form>
  </div>
<% else %>
  <div class='already-picked'>
    <h3> Your picks have already been submitted </h3>
   <a>go fuck yourself</a>
  </div>
<% end %>
