<% if logged_in? && current_user.picks.empty? == false %>

      <% @users.each do |user|%>
        <table>
        <th> <%= user.username %> </th>
          <% user.picks.each do |pick| %>
            <tr>
              <td> <%= pick.name %></td>
            </tr>
            <% end %>
        </table>
      <% end %>

<% else %>
  <h2> You can not view the picks until you have submitted yours </h2>
  <a class='picks-btn' href='/picks/new'> Make your picks </a>
<% end %>
