
  <h1>The Marriage Bet</h1>
  <h2>$1,000 each</h2>

  <div class ='home-body'>
    <p class='home-body'> This is the website to submit your answers for our group long term bet. Anyone who correctly guesses the order in which all twelve members of Senor Beer get married, will receive 1000 dollars from everyone else who submitted answers.</p>
  </div>
  <% erb :_errors %>
<a class='a-btn' href='/picks'>See the picks!</a>
<% if logged_in? %>
  <a class='a-btn' href='/picks/new'> Make your picks </a>
<% end %>
<div>
<p> A few rules as decided by the group:</p>
  <ul>
    <li>The bet is by date of the wedding, not engagement</li>
    <li> Only date of first marriage is counted</li>
    <li> Each person's #1 pick will be revealed at the beginning, but all other picks will be hidden. After 1 person gets married, everyone's second pick will be revealed, continuing until the last member.
    </li>
    <li>If someone does not get married, they are last in order. If two or more people do not get married, they tie for last, and any submission that had them as the last to get married counts as correct.</li>
    <li>For the purposes of this bet, being single at 40 will count as not getting married</li>
  </ul>
</div>
