<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav class='grey'>
    <a class = 'nav' href='/'>Home</a>
    <a class='nav' href='/sessions/new'>Log in</a>
    <a class='nav' href='/users/new'>Register</a>
    <!-- <a class = 'nav' href='/logout'>Log out</a> -->

  </nav>
  <%= yield %>
  <footer class='grey'>
    Copyright: Evan Hickle, 2017
  </footer>
</body>
</html>
