<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div id="fb-root"></div>
    <script>'/js/facebook.js'</script>

  <nav>
    <a class = 'nav-link' href='/'>Home</a>
    <a class='nav-link' href='/users/new'>Register</a>
    <% if logged_in? %>
      <a class = 'nav-link' href='/logout'>Log out</a>
      <a class='nav-link' href='/users/<%= current_user.id %>'><%= current_user.username %></a>
    <% else %>
      <!-- <a class='nav-link' href='/sessions/new'>Log in</a> -->
      <div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="false"></div>
    <% end %>
  </nav>
    <main>
      <%= yield %>
    </main>
  <footer class='grey'>
    Copyright: Evan Hickle, 2017
  </footer>
</body>
</html>
